.Footer-container{
    position: relative;
    background-color: black;
}

.Footer-container>hr{
    border: 1px solid rgb(189, 188, 188);
}

.footer{
    padding:  1rem 2rem;
    display: flex;
    /* flex-direction: column; */
    gap: 16rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
    
}
.footer>:nth-child(3){
    color: white;
    display: flex;
    flex-direction: column;
}
.social-links{
    display: flex;
    gap: 4rem;
}
.social-links>a>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.logo-f>img{
    width: 10rem;
}
